.api-content-container {
    padding: 60px 40px 20px 40px;
}

.features-container {
    background-color: linear-gradient(
      180deg,
      #fff 0%,
      #f3f3f3 46.06%,
      #fff 101.47%
    );
    text-align: center;
  }

  .features-list {
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-align: left;
  }

  .api-content-text p {
    color: var(--main-text-color);
    font-size: 14px;
  }

