.api-content-container {
    padding: 60px 40px 20px 40px;
}

.features-container {
    background-color: linear-gradient(
      180deg,
      #fff 0%,
      #f3f3f3 46.06%,
      #fff 101.47%
    );
    text-align: center;
  }

  .features-list {
    display: flex;
    justify-content: space-around;
    align-items: start;
    text-align: left;
  }

  .api-content-text p {
    color: var(--main-text-color);
    font-size: 14px;
  }

  .card {
    background-color: var(--light-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 400px;
    text-align: left;
  }

  .common-btn-secondary {
    border: 1px solid var(--dark-color);
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    background-color: transparent;
    color: var(--secondary-color);
  }

 

