.documentation-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--primary-color);
  margin: 40px 60px;
  max-height: 350px;
}

.banner-content h1 {
  font-weight: 600;
  font-size: 30px;
  color: var(--font-colour-primary);
}

.banner-content p {
  font-size: 20px;
  color: var(--font-colour-primary);
  margin-bottom: 20px;
}

.banner-btn {
  padding: 10px 20px;
  border: 1px solid;
  background-color: transparent;
  color: var(--font-colour-primary);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.banner-btn:hover {
  background-color: var(--light-bg-color);
  color: var(--primary-color);
  transform: scale(1.1);
}

.banner-image {
  margin-right: 20px;
}

.banner-image img {
  width: 100%;
}

.fa-arrow-right {
  margin-left: 5px;
}
