body {
  margin: 0;
  padding: 0;
}

.search-content {
  background-color: var(--main-bg-color);
  padding-top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 45px;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.search-input input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
  background-color: transparent;
}

.bi-search {
  color: #ccc;
  font-size: 20px;
  position: relative;
  top: -2px;
}
