<main class="main-content">
    <div class="org-container">
        <h1 class="header-title">Welcome to ABC Organization</h1>
    </div>
    <div class="org-container">
        <section class="description-section">
            {{{content}}} 
        </section>
        <section class="image-section">
            <img src="/images/org-landing-page.jpeg" alt="Our Organization" class="organization-image">
        </section>
    </div>
</main>
