<div class="container">
    <div class="row text-center">
        <h2> Key Feature </h2>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-1.svg"
                class="img-fluid rounded-start" alt="..">
            <h5>Transfer Funds</h5>
            <p>Make a one-time payment and check the status of the transaction.</p>
        </div>

        <div class="col-4">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-2.svg"
                class="img-fluid rounded-start" alt="..">
            <h5>Build new payment experiences</h5>
            <p>Create applications that facilitate innovative payment experiences and support your business growth.</p>
        </div>

        <div class="col-4">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-3.svg"
                class="img-fluid rounded-start" alt="..">
            <h5>PSD2 eIDAS</h5>
            <p>This API uses PSD2 eIDAS compliant certificates. Any Payment Initiation Service Provider (PISP) with a
                PSD2 license and a PSD2 eIDAS certificate can use this product.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <h4>Start building in our Sandbox</h4>
    </div>
    <div class="row text-center">
        <p>Want to see what you can do with this API?</p>
        <p>Add a new app and start experimenting in our sandbox.</p>
    </div>
    <div class="row text-center">
        <div>
            <button class="btn btn-primary mt-4">Try it in Sandbox</button>
            <button class="btn btn-primary mt-4 ms-2">Need Support?</button>
        </div>
    </div>
</div>

<div name="FAQ">
    <div class="row text-left"></div>
    <h1>FAQ</h1>
</div>
<div class="row text-left mb-4">
    <p>Can't find the answer you're looking for? Check out our <a href="#">documentation</a> or <a href="#">contact our
            team.</a></p>
</div>

<div class="row text-left">
    <div>
        <div>
            <p class="mb-1">What is the Leisure Activities API?</p>
            <span class="badge text-bg-primary">Overview</span>
            <span class="badge text-bg-primary">Introduction</span>
            <span class="badge text-bg-primary">APIInfo</span>
        </div>
        <div class="mt-4">
            <p> The Leisure Activities API provides access to a wide range of information about various leisure
                activities,
                including sports, hobbies, outdoor adventures, and cultural events.
                The API allows developers to integrate this information into their applications, websites, and services.
            </p>
        </div>
    </div>
</div>
<hr>

<div class="row text-left">
    <div>
        <div>
            <p class="mb-1">How do I get started with the API?</p>
            <span class="badge text-bg-primary">GettingStarted</span>
            <span class="badge text-bg-primary">APIKey</span>
            <span class="badge text-bg-primary">Registration</span>
        </div>
        <div class="mt-4">
            <p> To get started, you need to sign up for an API key by registering on our developer portal.
                Once you have your API key, you can start making requests to the API endpoints.</p>
        </div>
    </div>
</div>
<hr>

<div class="row text-left">
    <div>
        <div>
            <p class="mb-1">Are there any usage limits?</p>
            <span class="badge text-bg-primary">UsageLimits</span>
            <span class="badge text-bg-primary">RateLimits</span>
            <span class="badge text-bg-primary">Plans</span>
        </div>
        <div class="mt-4">
            <p> Yes, the API has usage limits based on your subscription plan. 
                Please refer to the pricing and plans section on our developer portal for detailed information.</p>
        </div>
    </div>
</div>
<hr>

<div class="row text-left">
    <div>
        <div>
            <p class="mb-1">Are there any usage limits?</p>
            <span class="badge text-bg-primary">UsageLimits</span>
            <span class="badge text-bg-primary">RateLimits</span>
            <span class="badge text-bg-primary">Plans</span>
        </div>
        <div class="mt-4">
            <p> Yes, you can access historical data for certain activities. 
                Use the date parameter to filter activities by specific dates or date ranges..</p>
        </div>
    </div>
</div>
</div>