<main>
    {{> hero }}
    {{!-- uncomment below to include product features  --}}
    {{!-- {{> features }} --}}
    
    {{!-- uncomment below to include customer logos  --}}
    {{!-- {{> customers }} --}}

    {{!-- uncomment below to include benefits gained by using the apis  --}}
    {{!-- {{> benefits }} --}}

    {{!-- uncomment below to include customer testimonials  --}}
    {{!-- {{> testimonials }} --}}

    {{!-- uncomment below to include link to documents  --}}
    {{!-- {{> documentation-banner }} --}}
    
    {{!-- uncomment below to include link to community forums  --}}
    {{!-- {{> community}} --}}
</main>