<main class="main-content">
    <div class="org-container">
        <section class="description-section">
            <h2 class="description-title">Aboutwww Us</h2>
            <p class="description-text">
               {{{content}}}
            </p>
        </section>
        <section class="image-section">
            <img src="/resources/images/org-landing-page.jpeg" alt="Our Organization" class="organization-image">
        </section>
    </div>
</main>
