<section>
  <div class="col-lg-12 container-fluid search-content">
    <div>
      <h2 class="api-list-header">Explore Our Diverse API Ecosystem</h2>
      <h5 class="dev-sub-header h5 api-list-subheader">Discover a wide range of APIs tailored to enhance your development process and drive innovation.</h5>
    </div>
    <div class="search-container">
      <div class="search-input">
        <i class="bi bi-search"></i>
        <input type="text" id="query" placeholder="Search APIs" />
      </div>
    </div>
  </div>
</section>