<div class="container-fluid" name="KeyFeatures">
    <div class="row text-center">
        <h2> Key Feature </h2>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-1.svg"
                class="img-fluid rounded-start" alt="..">
            <h5>Transfer Funds</h5>
            <p>Make a one-time payment and check the status of the transaction.</p>
        </div>

        <div class="col-4">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-2.svg"
                class="img-fluid rounded-start" alt="..">
            <h5>Build new payment experiences</h5>
            <p>Create applications that facilitate innovative payment experiences and support your business growth.</p>
        </div>

        <div class="col-4">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-3.svg"
                class="img-fluid rounded-start" alt="..">
            <h5>PSD2 eIDAS</h5>
            <p>This API uses PSD2 eIDAS compliant certificates. Any Payment Initiation Service Provider (PISP) with a
                PSD2 license and a PSD2 eIDAS certificate can use this product.</p>
        </div>
    </div>
</div>
<div class="container-fluid" name="Overview">
    <div class="row text-start">
        <h1>Overview</h6>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla turpis, rutrum et fringilla
                    non, feugiat nec augue. Phasellus nibh quam, finibus id ligula id, fermentum ornare nisl.
                    Suspendisse potenti. Vestibulum purus ipsum, consequat eget ex quis, suscipit sollicitudin leo.
                    Aliquam quis fringilla augue. Nulla rhoncus risus ac faucibus elementum. Nam facilisis metus at
                    lacus porttitor, vel posuere risus sodales. Etiam euismod venenatis iaculis. Donec gravida augue id
                    dolor accumsan consectetur.</p>
            </div>
            <div>
                <h5>Requirements</h5>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla turpis, rutrum et fringilla
                    non, feugiat nec augue. Phasellus nibh quam, finibus id ligula id, fermentum ornare nisl.
                    Suspendisse potenti. Vestibulum purus ipsum, consequat eget ex quis, suscipit sollicitudin leo.</p>
            </div>
            <ul class="list-unstyled">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
            <div>
            </div>
        </div>
        <div class="col-lg-4 border">
            <div>
                <h5>Use this API to initiate:</h5>
            </div>
            <div>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div>
                <button type="button" class="common-btn herobtn-secondary">Read More</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" name="HowItWorks">
    <div class="row text-center">
        <h1>How it Works</h1>
    </div>
    <div class="row">
        <div class="col-lg">
            <div class="card lg-3" style="max-width: 400px;">
                <div class="card-body">
                    <i class="bi bi-1-square-fill"></i>
                    <h5 class="card-title text-center">Initiate a payment</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla turpis, rutrum et
                        fringilla non, feugiat </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card lg-3" style="max-width: 400px;">
                <div class="card-body">
                    <i class="bi bi-1-square-fill"></i>
                    <h5 class="card-title text-center">Request customer consent</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla turpis, rutrum et
                        fringilla non, feugiat </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="card lg-3" style="max-width: 400px;">
                <div class="card-body">
                    <i class="bi bi-1-square-fill"></i>
                    <h5 class="card-title text-center">Execute the payment</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla turpis, rutrum et
                        fringilla non, feugiat </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="mt-4" name="FAQ">
    <div class="row text-left">
        <h1>FAQ</h1>
    </div>
    <div class="row text-left mb-4">
        <p>Can't find the answer you're looking for? Check out our <a href="#">documentation</a> or <a href="#">contact
                our
                team.</a></p>
    </div>

    <div class="row text-left">
        <div>
            <div>
                <p class="mb-1">What is the Leisure Activities API?</p>
                <span class="badge text-bg-primary">Overview</span>
                <span class="badge text-bg-primary">Introduction</span>
                <span class="badge text-bg-primary">APIInfo</span>
            </div>
            <div class="mt-4">
                <p> The Leisure Activities API provides access to a wide range of information about various leisure
                    activities,
                    including sports, hobbies, outdoor adventures, and cultural events.
                    The API allows developers to integrate this information into their applications, websites, and
                    services.
                </p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row text-left">
        <div>
            <div>
                <p class="mb-1">How do I get started with the API?</p>
                <span class="badge text-bg-primary">GettingStarted</span>
                <span class="badge text-bg-primary">APIKey</span>
                <span class="badge text-bg-primary">Registration</span>
            </div>
            <div class="mt-4">
                <p> To get started, you need to sign up for an API key by registering on our developer portal.
                    Once you have your API key, you can start making requests to the API endpoints.</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row text-left">
        <div>
            <div>
                <p class="mb-1">Are there any usage limits?</p>
                <span class="badge text-bg-primary">UsageLimits</span>
                <span class="badge text-bg-primary">RateLimits</span>
                <span class="badge text-bg-primary">Plans</span>
            </div>
            <div class="mt-4">
                <p> Yes, the API has usage limits based on your subscription plan.
                    Please refer to the pricing and plans section on our developer portal for detailed information.</p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row text-left">
        <div>
            <div>
                <p class="mb-1">Are there any usage limits?</p>
                <span class="badge text-bg-primary">UsageLimits</span>
                <span class="badge text-bg-primary">RateLimits</span>
                <span class="badge text-bg-primary">Plans</span>
            </div>
            <div class="mt-4">
                <p> Yes, you can access historical data for certain activities.
                    Use the date parameter to filter activities by specific dates or date ranges..</p>
            </div>
        </div>
    </div>
</div>