<div class="container">
    <div class="row text-center">
        <h4>Start building in our Sandbox</h4>
    </div>
    <div class="row text-center">
        <h5>Want to see what you can do with this API?</h5>
        <h5>Add a new app and start experimenting in our sandbox.</h5>
    </div>
    <div class="row text-center">
        <div>
            <button class="btn btn-primary mt-4">Try it in Sandbox</button>
            <button class="btn btn-primary mt-4 ms-2">Need Support?</button>
        </div>
    </div>
</div>