<section>
  <div class="container-fluid search-content">
    <div>
      <h2 class="dev-header h2">Welcome to DEPT. APIs</h2>
      <h5 class="dev-sub-header h5">Power your applications and streamline development</h5>
    </div>
    <div class="row">
      <div class="col-lg-11 search-container">
        <div class="search-input">
          <i class="bi bi-search"></i>
          <input type="text" id="query" placeholder="Search APIs" />
        </div>
      </div>
    </div>
  </div>
</section>