<div class="container-fluid">
    <div>
        <h5 class="text-start text-uppercase align-text-top text-center">What we offer</p>
    </div>
    <div>
        <h3 class="text-start align-text-top text-center">Benefits of Choosing our APIs</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="align-center" src="/images/logo.png" width="40" height="40">
            <h5>East to "Try it out"</h5>
            <p>Explore APIs and their functionalities with the Try it Out feature.</p>
        </div>
        <div class="col-lg-4">
            <img src="/images/logo.png" width="40" height="40">
            <h5>Access to Open API Spec</h5>
            <p>Users are allowed access to content & other services that follow OpenAPI specification</p>
        </div>
        <div class="col-lg-4">
            <img src="/images/logo.png" width="40" height="40">
            <h5>Proper Documentation</h5>
            <p>Offers comprehensive API documentation along with code snippets and additional resources.</p>
        </div>
    </div>
</div>
