<div class="container text-center">
    <div class="row">
        <div class="col align-self-center"> TRUSTED BY +100 WORLD’S BEST COMPANIES </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-1.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-2.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-3.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-4.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-5.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-6.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-7.svg"></img>
            <a class="icon-link icon-link-hover" href="#">
                Explore More
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>