<div class="container text-center">
    <div class="row">
        <div class="col align-self-center"> TRUSTED BY +100 WORLD’S BEST COMPANIES </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/quickbook.png"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/customer-logo-2.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/sage.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/oracle.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/wave.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/zoho.svg"></img>
            <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/freshbook.svg"></img>
            <a class="icon-link icon-link-hover" href="#">
                Explore More
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>