<documentation-banner>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg">
                <h1>Ready to Build?</h1>
                <h3>See the documentation to get started</h3>
                <a class="btn btn-primary" href="#" role="button">Documentation</a>
            </div>
            <div class="col-lg">
                <img class="col align-self-center"
                    src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/hero.svg"></img>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3>Join Now</h3>
                <p>Engage with DEPT. users and the product team on use cases and best practices. Our support team is
                    here to address any questions, concerns, or feedback.</p>
            </div>
            <div class="col-lg-4 text-end">
                    <a class="btn btn-primary" href="#" role="button">Documentation</a>
            </div>
        </div>
    </div>
</documentation-banner>