<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-lg">
            <h1>Ready to Build?</h1>
            <h3>See the documentation to get started</h3>
            <a class="btn btn-primary" href="#" role="button">Documentation</a>
        </div>
        <div class="col-lg">
            <img class="col align-self-center"
                src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/documentation-banner.svg"></img>
        </div>
    </div>
</div>