<features>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-start text-uppercase align-text-top">What we do</p>
                    <h5 class="text-start">Helps to solve all your account related problems</p>
                        <input class="btn btn-primary ml-2" type="button" value="Learn More">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 border-end border-bottom">
                        <img src="/images/logo.png" width="40" height="40">
                        <h5 class="text-start">Products</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum maximus
                                nisl ut malesuada. Integer facilisis tortor</p>
                    </div>
                    <div class="col-lg-6  border-bottom">
                        <img src="/images/logo.png" width="40" height="40">
                        <h5 class="text-start">APIs</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum maximus
                                nisl ut malesuada. Integer facilisis tortor</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 border-end">
                        <img src="/images/logo.png" width="40" height="40">
                        <h5 class="text-start">Analytics</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum maximus
                                nisl ut malesuada. Integer facilisis tortor</p>
                    </div>
                    <div class="col-lg-6">
                        <img src="/images/logo.png" width="40" height="40">
                        <h5 class="text-start">Reporting</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum maximus
                                nisl ut malesuada. Integer facilisis tortor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</features>