<footer>
    <div class="container-fluid">
        <div id="footermain">
            <img src="/images/logo.png" width="50" height="50">
            DEPT
        </div>
        <div class="row">
            <div class="col-lg-2">
                Follow Us
                <img src="/images/logo.png" width="20" height="20">
                <img src="/images/logo.png" width="20" height="20">
                <img src="/images/logo.png" width="20" height="20">
                <img src="/images/logo.png" width="20" height="20">
            </div>
            <div class="col-lg">
                <ul style="list-style-type:none;">
                    <li>Quick Links</li>
                    <li><a class="dropdown-item" href="#">APIs</a></li>
                    <li><a class="dropdown-item" href="#">Support</a></li>
                </ul>
            </div>
            <div class="col-lg">
                <ul style="list-style-type:none;">
                    <li>Company</li>
                    <li><a class="dropdown-item" href="#">Why DEPT</a></li>
                    <li><a class="dropdown-item" href="#">Enterprise</a></li>
                    <li><a class="dropdown-item" href="#">FAQ</a></li>
                    <li><a class="dropdown-item" href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col">
                <ul style="list-style-type:none;">
                    <li>Developer</li>
                    <li><a class="dropdown-item" href="#">How it works</a></li>
                    <li><a class="dropdown-item" href="#">Setup</a></li>
                    <li><a class="dropdown-item" href="#">Products</a></li>
                    <li><a class="dropdown-item" href="#">Community Guide</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <p class="text-start">Subscribe to our newsletter</p>
                <p class="text-start">Receive the latest news, articles, and resources directly in your inbox</p>
                <div class="row">
                    <div class="col-lg-8">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="col-lg-4">
                        <input class="btn btn-primary ml-2" type="button" value="SignUp">
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div id="footerlinks">
            <div class="row">
                <div class="col-lg-6">
                    <h6 class="text-start">Copyright c DEPT,2024</h6>
                </div>
                <div class="col-lg text-end">
                    <a  class="dropdown-item" href="#">
                        <h6>Terms of Service</h6>
                    </a>
                </div>
                <div class="col-lg text-end">
                    <a class="dropdown-item" href="#">
                        <h6>Terms of Service</h6>
                    </a>
                </div>
                <div class="col-lg text-end">
                    <a class="dropdown-item" href="#">
                        <h6>Terms of Service</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>