<header>
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/CompanyName.svg" alt="Logo" />
            </a>
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{{baseUrl}}/apis">APIs</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Developers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <a class="nav-link" href="#">Support</a>
            </div>
            <div class="container-fluid nav justify-content-end">
                <a class="btn btn-primary custom-signup-btn" href="{{authJson.signUpURL}}">Sign Up</a>
                <a class="btn btn-outline-info custom-login-btn" href="{{baseUrl}}/login">Log In</a>
            </div>
        </div>
    </nav>
</header>