<header>
    <h1>{{pageTitle}}</h1>
    <nav class="navbar">
    <div class="navbar-container">
        <a id="org-logo" href="/ABCOrganization"><img src="/images/logo.png" class="navbar-logo"></a>
        <div class="navbar-links" id="nav-bar">
            <a href="/ABCOrganization" class="navbar-link" id="org-home"> Home</a>
            <a href="/ABCOrganization/apis" class="navbar-link" id="org-apis"> APIs</a>
        </div>
    </div>
    </nav>
</header>