<head>
  <link rel="stylesheet" href="/styles/component/hero.css" />
</head>

<body>
  <div class="hero">
    <div class="container anim">
      <div class="content">
        <h1>Build robust <span>scalable apps</span> faster than ever before</h1>
        <div class=subtitle>
          <p>Utilize our DEPT. APIs connects you to all major accounting service providers, such as Quickbooks, Xero,
            and Sage</p>
        </div>
        <div class="buttons">
          <button type="button" class="common-btn-primary">Browse Our APIs</button>
          <button type="button" class="common-btn-secondary">Learn More</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/hero.svg" alt="Hero Image" />
      </div>
    </div>
  </div>
</body>