<head>
  <link rel="stylesheet" href="/styles/component/hero.css" />
</head>
<body>
  <div class="hero">
    <div class="container">
      <div class="content">
        {{{heroContent}}}
        <div class="buttons">
          <button type="button" class="common-btn herobtn-primary">Browse Our
            APIs</button>
          <button type="button" class="common-btn herobtn-secondary">Learn More</button>
        </div>
      </div>
      <div class="hero-image">
        <img
          src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/hero.svg"
          alt="Hero Image"
        />
      </div>
    </div>
  </div>
</body>