<div class="container-fluid">
  <h2 class="text-center">Welcome to DEPT. APIs</h2>
  <div class="row">
    <div class="col-lg-1"><i class="bi bi-search"></i>
    </div>
    <div class="col-lg-10">
      <input type="text" class="form-control" placeholder="Search Tasks..." />
    </div>
  </div>
</div>