body {
  margin: 0;
  padding: 0;
  font-size: large;
  text-align: justify;
}

.api-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
}

.api-description-section {
  display: flex;
}

.api-header {
  color: #fff;
  text-align: center;
}

.version,
.url a {
  flex: 1;
  margin: 0;
}

.version span {
  font-weight: bold;
}

.url a {
  flex: 1;
  text-decoration: none;
  color: blue;
}

.url a:hover {
  text-decoration: underline;
  color: darkblue;
}

h1,
h2 {
  color: #333;
}

p,
ul {
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.api-image {
  width: 40%;
  height: auto;
  margin: 10px 60px 20px 0px;
  text-align: center;
}
