.header {
    background-color: #4c99af;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .header-title {
    font-size: xx-large;
    margin: 0;
  }
  
  /* Main Content Styles */
  .main-content {
    padding: 20px 0;
  }
  
  .org-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
  }
  
  /* Description Section Styles */
  .description-section {
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .description-title {
    color: #333;
    font-size: 32px;
  }
  
  .description-text {
    text-align: justify;
    line-height: 1.6;
    font-size: 24px;
  }
  
  /* Image Section Styles */
  .image-section {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .organization-image {
    padding-top: 10%;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }