body {
  background-color: var(--main-bg-color);
}

.apilist-container {
  padding: 10px 50px;
  margin-top: 5px;
}

.api-filterlist {
  color: var(--main-text-color);
  padding: 10px 0px 10px 10px;
}

.filter-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--main-text-color);
}

.list-items {
  margin-bottom: 10px;
  margin-left: 3px;
}

.bi-chevron-down {
  font-size: 16px;
  color: var(--main-text-color);
}

.filter-sub {
  font-size: 14px;
  color: var(--main-text-color);
}

hr {
  margin-top: 0;
  margin-bottom: 10px;
  border-color: #dee2e6;
}

.form-check-input {
  accent-color: var(--primary-color);
}

.form-check-label {
  font-size: 14px;
  color: var(--main-text-color);
  margin-left: 5px;
}

.api-card  {
  max-width: 300px;
  text-align: left;
}

.api-card-img {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  object-fit: cover;
}

.api-card-body {
  padding: 0;
  margin: 0;
}

.api-card-title {
  font-size: 16px;
  color: var(--main-text-color);
  margin: 0;
  font-weight: 600;
}

.api-card p {
  font-size: 14px;
  color: var(--main-text-color);
  margin: 0;
}

.api-tags{
  display: flex;
  flex-wrap: wrap;
}

.badge-custom1 {
  border: 1px solid var(--border-colour-primary);
  background-color: #eff6ff;
  color: var(--border-colour-primary);
  margin: 2px 5px 20px 0;
}

.badge-custom2 {
  border: 1px solid rgba(99, 99, 110, 0.25);
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: 0;
  margin: 5px 5px 0 0;
}

.apibtn-container {
  margin-top: 30px;
}
.apilistbtn-primary,
.apilistbtn-secondary {
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 14px;
}

.apilistbtn-primary {
  background-color: transparent;
  color: var(--border-colour-primary);
  border: 1px solid var(--border-colour-primary);
}

.apilistbtn-primary:hover {
  background-color: var(--primary-color);
  color: var(--font-colour-primary);
}
 
.apilistbtn-secondary {
  background-color: transparent;
  color: var(--border-colour-primary);
  border: none;
}

.apilistbtn-secondary:hover {
  color: var(--dark-color);
}
