<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/api-landing-page.css">
    <link rel="stylesheet" href="/styles/org-landing-page.css">
    <link rel="stylesheet" href="/styles/apis.css">
</head>

<body>
    {{> header }}
    {{{body}}}
    {{> footer }}
</body>

</html>